Module -3/XML-I and XML-II/Mobile Showroom/mobile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="MobileSalesData">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MobilePhoneSale" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MobilePhoneSale">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ModelID" type="xs:string"/>
                <xs:element name="Brand" type="xs:string"/>
                <xs:element name="Price" type="xs:decimal"/> <xs:element name="Color" type="xs:string"/>
                <xs:element name="SIMSize">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Normal"/>
                            <xs:enumeration value="Micro"/>
                            <xs:enumeration value="Nano"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Memory" type="xs:string"/>
                <xs:element name="Camera" type="xs:string"/> <xs:element name="TouchScreen" type="xs:string"/> <xs:element name="NoSold" type="xs:positiveInteger"/> <xs:element name="StoreName">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="store1"/>
                            <xs:enumeration value="store2"/>
                            <xs:enumeration value="store3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>